.modal-auth {
    .modal-auth-container {
        border-radius: 10px;
        background-color: #eeeded;

        .modal-DownMenu-title {
            padding-left: 130px;
            font-size: 24px;
            font-weight: bold;
        }

        .body-DownMenu {
            max-height: 400px; // bạn có thể thay đổi chiều cao này theo ý muốn
            overflow-y: auto;

            .DownMenu-Surrounded {
                .body-modal-DownMenu {
                    background-color: white;
                    padding: 12px;
                    display: flex;
                    border-radius: 8px;
                    margin: 0 10px 12px 0;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

                    :hover {
                        cursor: pointer;
                        opacity: 0.5;
                    }

                    .body-modal-DownMenu-img {
                        margin-right: 15px;
                        width: 225px;
                        height: 85px;

                        img {
                            border-radius: 8px;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .body-modal-DownMenu_title {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .DownMenu-margin {
                    margin-top: 10px;
                }
            }
        }
    }
}

.modal-body {
    padding: 0 10px 10px;
}

.modal-header {
    border-bottom: none;
    padding: 5px 10px 0;
}

.modal-Price-Filter {
    position: fixed;
    top: 57%;
    left: 71.7%;
    transform: translateY(-50%);
    margin: 0;

    .modal-PriceFilter-container {
        border-radius: 7px;
        background-color: #eeeded;

        .modal-PriceFilter-title {
            font-size: 18px;
            margin-left: 95px;
            font-weight: bold;
        }

        .body-PriceFilter_Menu {
            .body-PriceFilter {
                padding: 6px 0 8px;
                display: flex;
                font-size: 13px;
                border-bottom: 1.5px solid transparent;
                border-image: repeating-linear-gradient(
                        to right,
                        #9e9d9d 0,
                        #9e9d9d 5px,
                        transparent 5px,
                        transparent 10px
                    )
                    8;

                .body-PriceFilter-house-sale {
                    margin-left: 13px;
                    display: flex;
                    width: 115px;
                    height: 21px;
                    border-radius: 5px;
                    color: black;
                    background-color: #c9c9c9;

                    span {
                        cursor: pointer;
                        margin-left: 10px;
                    }

                    p {
                        margin-left: 7px;
                        font-size: 13.5px;
                        font-weight: 400;
                    }
                }

                .body-PriceFilter-land-sale {
                    margin-left: 30px;
                    width: 115px;
                    height: 21px;
                    display: flex;
                    border-radius: 5px;
                    color: black;
                    background-color: #c9c9c9;

                    span {
                        cursor: pointer;
                        margin-left: 10px;
                    }

                    p {
                        margin-left: 12px;
                        font-size: 13.5px;
                        font-weight: 400;
                    }
                }
            }

            .Square-meter-price {
                padding: 12px 0 0;
                border-bottom: 1.5px solid transparent;
                border-image: repeating-linear-gradient(
                        to right,
                        #9e9d9d 0,
                        #9e9d9d 5px,
                        transparent 5px,
                        transparent 10px
                    )
                    8;

                .Square-price {
                    align-items: center;
                    display: flex;
                    margin-left: 13px;
                    width: 260px;
                    height: 21px;
                    border-radius: 5px;
                    color: black;
                    background-color: #c9c9c9;

                    span {
                        cursor: pointer;
                        margin: 0 0 2px 10px;
                    }

                    p {
                        margin: 0 7px;
                        font-size: 13.5px;
                        font-weight: 400;
                    }
                }

                .Square-meter {
                    align-items: center;
                    display: flex;
                    margin: 10px 13px 12px;
                    width: 260px;
                    height: 21px;
                    border-radius: 5px;
                    color: black;
                    background-color: #c9c9c9;

                    span {
                        cursor: pointer;
                        margin: 0 0 2px 10px;
                    }

                    p {
                        margin: 0 7px;
                        font-size: 13.5px;
                        font-weight: 400;
                    }
                }
            }

            .body-PriceFilter_price {
                padding: 10px 0 5px;
                font-size: 13px;

                .body-Filter_price {
                    display: flex;

                    .body-Price-house {
                        margin-left: 10px;
                        display: flex;
                        width: 136px;
                        height: 21px;
                        border-radius: 5px;
                        color: black;
                        background-color: #c9c9c9;

                        span {
                            cursor: pointer;
                            margin-left: 6.5px;
                        }

                        p {
                            margin-left: 6px;
                            font-size: 13.5px;
                            font-weight: 400;
                        }
                    }

                    .body-Price-land {
                        margin-left: 15px;
                        width: 130px;
                        height: 21px;
                        display: flex;
                        border-radius: 5px;
                        color: black;
                        background-color: #c9c9c9;

                        span {
                            cursor: pointer;
                            margin-left: 6px;
                        }

                        p {
                            margin-left: 6px;
                            font-size: 13.5px;
                            font-weight: 400;
                        }
                    }
                }

                .boy-paading {
                    margin: 10px 0 10px;
                }
            }
        }
    }
}

.PriceFilter {
    width: 310px;
}

.PriceFilter-modal {
    color: white !important;
    background-color: #b74c00 !important;

    p {
        font-weight: 350 !important;
    }
}

.Square-modal {
    color: white !important;
    background-color: #3e6b00 !important;

    p {
        font-weight: 350 !important;
    }
}

.border_bottom-modal {
    margin: 0 -24px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid transparent;
    border-image: repeating-linear-gradient(to right, #9e9d9d 0, #9e9d9d 5px, transparent 5px, transparent 10px) 8;
}

.filterByHouse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.filterByDate {
}

.filterByLandArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.filterByPriceRange {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.menu__container {
    max-height: 400px;
    min-height: 80px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .menu__section {
        min-height: 68px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: background-color 0.3s linear;
        cursor: pointer;
        border-radius: 0.25rem;
        overflow: hidden;
        padding-left: 0.5rem;
        border: solid 1px #9e9d9d;

        .menu__image {
            width: 20%;
            height: 100%;
            object-fit: contain;
        }

        .menu--desc {
            font-size: 1rem;
            font-weight: 600;
            flex: 1;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            transition: color 0.3s linear;
            margin-bottom: 0;
        }
    }
}
