.modal-auth {
    .modal-auth-container {
        .btn-auth {
            display: flex;
            .btn-register{
                width: 50%;
                height: 60px;
            }
            .btn-login{
                width: 50%;
                height: 60px;
            }
        }
    }
   
}