.modal-auth {
    .modal-auth-container {
        .btn-register{
            width: 150px;
            height: 60px;
        }
        .btn-login{
            width: 150px;
            height: 60px;
        }
    }
   
}