.modal-auth {
    width: 800px;
    .modal-auth-container {
        width: 710px;
        .btn-register{
            width: 345px;
            height: 60px;
        }
        .btn-login{
            width: 345px;
            height: 60px;
        }
    }
   
}