@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Mulish', sans-serif !important;
    font-optical-sizing: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-content {
    background-color: #1e252b;
    height: 100vh;
    overflow: auto;
}

textarea {
    background-color: transparent;
    border: none;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none !important;
    outline: none;
    overflow: auto;
}

textarea:focus-visible {
    box-shadow: none;
}

button {
    all: unset; 
    display: inline-block; 
    padding: 0; 
    border: none; 
    background: none; 
    font: inherit;
    color: inherit; 
    cursor: pointer; 
    outline: none;
  }
  